body {margin: 0; padding: 0;}
.container {max-width: 1170px;}

.sticky {width: 100%; position: fixed; z-index: 1; top: 0;}
 
.navbar {background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37)}
.nav-item {padding: 10px 11px;}
.navbar-nav li:nth-child(5).nav-item {background-color: #BF2B79; border-radius: 35px;}
.header {margin: 0; box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25); z-index: 99; }
.nav-link {font-size: 18px; line-height: 24px; color: #fff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.nav-main-logo {margin: 0;}

.btn {background: #54b948; color: #fff; border: 1px solid #fff; width: 175px; padding: 13px; margin-left: 90px; }
.w-btn {display: block; color: #fff; font-size: 18px; text-align: center; margin-left: 10px; }
.dropdown-menu.show {width: 195px; background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37); color: #fff; border: 1px solid #fff; width: 175px; padding: 13px; margin-left: 90px;}
.dropdown-item {padding: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
.dropdown-item:focus, .dropdown-item:hover {background: #edbcc0;}
.slider {padding: 50px 0 50px 0;}
.carousel-control-prev {width: 60px; background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37);  height: 60px;  border-radius: 50%; top: 500px; left: 50px; }
.carousel-control-next {width: 60px; background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37); height: 60px;  border-radius: 50%; top: 500px; right: 50px; }
.carousel {z-index: 0;}


.banner-section {background:#fff url(../img/mic_picture.jpg) center top no-repeat; width: 100%;  background-size: cover; opacity: 1; }
.action-ply {background: #fff;  padding: 70px 0 70px 0; }
.sub-heading {margin: 0;}
.sub-heading p {font-size: 30px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 45px; color: #000; text-align: center;}
.main-v-ply {width: 100%; margin-bottom: 50px; box-shadow: 0 3px 6px -5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1); background: #dbcf6dba; padding: 30px 0; margin-top: 50px; }
.main-v-ply h1 {font-size: 28px; cursor: pointer; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; line-height: 35px; color: #d86f76; text-align: center; }
.video-section { background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37);  margin: 50px 0 0 0;  border-radius: 31px; overflow: hidden; }
/* .gallery {margin: 0;} */
.g-section {width: 100%; margin-top: 30px; }
.g-section img {max-width: 100%;}



.animation-slide {width: 100%;}
/***************************
    CUSTOM SCROLL BAR MILE 
****************************/
*, html{
    scroll-behavior: smooth;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --white:#FFF;
    --black:#232323;
    --lite:rgba(255,255,255,0.6);
    --gray:rgba(1,1,1,0.6);
    --dark:#3c3d3c;
    --primary:linear-gradient(145deg,#ff2f09,#c24a4e);
    --primary_dark:#970104;
    --primary_lite:#c24a4e;
    --secondary:#000a17;
    --default_font:'Ysabeau Infant', sans-serif;
    --title_font:'Outfit', sans-serif;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px var(--dark);
}

::-webkit-scrollbar-corner {
    background: var(--dark);
}



/***************************
            DEFAULT
****************************/
/* body{
    margin:0;
    overflow-x:hidden !important;
    font-family: var(--default_font);
} */

a{
    text-decoration:none !important;
    min-width: fit-content;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

a, button{
    transition:0.5s;
}

em{
    font-style:normal;
    color:var(--primary_lite);
}

a, p, .btn{
    font-size:15px;
}

p{
    line-height:1.9em;
    color:var(--lite);
}

a, button, input, textarea, select{
    outline:none !important;
}

fieldset{
    border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0;
}

.title, .sub_title{
    font-family:var(--title_font);
    font-weight:400;
    margin:0;
}

.flex, .fixed_flex{
    display:flex;
}

.flex_content{
    width:100%;
    position:relative;
}

.padding_1x{
    padding:1rem;
}

.padding_2x{
    padding:2rem;
}

.padding_3x{
    padding:3rem;
}

.padding_4x{
    padding:4rem;
}

.big{
    font-size:3.5em;
}

.medium{
    font-size:2em;
}

.small{
    font-size:1.3em;
}

.btn{
    padding:1rem;
    border-radius:5px;
    color:var(--white);
    position:relative;
    border:0;
    text-align:center;
    
}

.btn_3{
    display:block;
    background-color:0;
    color:var(--white);
    position:relative;
    font-family:var(--default_font);
    font-weight:400;
    text-transform:uppercase;
}

.btn_3:before{
    content:"";
    border-radius:50%;
    background-color:rgba(255,255,255,0.2);
    position:absolute;
    left:0;
    top:50%;
    width:40px;
    height:40px;
    transition:0.5s;
    transform:translate(0%, -50%);
}

.btn_3:after{
    content:"\f178";
    font-family:"FontAwesome";
    margin-left:5px;
}

.btn_3:hover:before{
    border-radius:40px;
    width:100%;
}

/* @media (max-width:920px){
    .flex{
        flex-wrap:wrap;
    }
    
    .padding_1x, .padding_2x, .padding_3x, .padding_4x{
        padding:1rem;
    }
    
    .big{
        font-size:1.8em;
    }
    
    .medium{
        font-size:1.3em;
    }
    
    .small{
        font-size:1.1em;
    }
    
    .btn{
        padding:0.5rem 1rem;
    }
    
    a, p, .btn{
        font-size:12px;
    }
} */

.slider {
    position: relative;
    width: 100%;
    height: 100vh;
}

ul{
    padding:0;
    margin:0;
}

.slider .title{
    font-weight:400;
}

.slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: clip .7s ease-in-out, z-index 0s .7s;
    clip: rect(0, 100vw, 100vh, 100vw);
    display:flex;
    align-items:center;
    justify-content:left;
}

.slider li:nth-child(1){
    background:linear-gradient(to right, rgba(1,1,1,1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("../img/missdeepa_banner.jpg");
    background-size: cover;
    background-position:top left;
}

.slider li:before{
    content:"";
    position:absolute;
    top:-20px;
    right:0;
    width:250px;
    height:250px;
    background-image:url("https://i.postimg.cc/02zcww6c/slider-shape.png");
    background-size:100% 100%;
    transition-delay: 1s;
    transform: rotate(-90deg);
    z-index:1;
}

.slider li:after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:300px;
    height:300px;
    background-image:url("https://i.postimg.cc/KjKbwDfR/slider-shape-2.png");
    background-size:100% 100%;
    transform:rotate(360deg);
	transition: all 1.5s cubic-bezier(0,0,.2,1);
    z-index:1;
    background-position:center left;
}

.slider li:nth-child(2){
    background:linear-gradient(to right, rgba(1,1,1,1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("../img/missdeepa_sari.jpg");
    background-size: cover;
    background-position:top left;
}

.slider li:nth-child(3){
    background:linear-gradient(to right, rgba(1,1,1,1) 10%, rgba(1,1,1,0.8) 51%, rgba(1,1,1,0.2) 100%), url("../img/missdeepa_look.jpg");
    background-size: cover;
    background-position:top left;
}

.slider article{
    width:60%;
    margin-top:4rem;
    color: #fff;
    z-index:11;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slider h3 + p {
    display: inline-block;
    color: var(--lite);
    font-weight:300;
}

.slider h3, .slider h3 + p, .slider p + .btn, li:after{
    opacity: 0;
    transition: opacity .7s 0s, transform .5s .2s;
    transform: translate3d(0, 50%, 0);
}

li.current h3, li.current h3 + p, li.current p + .btn, li.current:after {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    transition-delay: 1s;
    transform: translate3d(0, 0, 0);
}

.slider li:before{
    transition: 0.5s;
    top:-250px !important;
}

li.current:before{
    transition-delay: 1s;
    transform: rotate(-90deg);
    top:-20px !important;
}

li.current {
    z-index: 1;
    clip: rect(0, 100vw, 100vh, 0);
}

li.prev {
    clip: rect(0, 0, 100vh, 0);
}

.slider aside {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    text-align: center;
    z-index: 10;
    right: 25px;
}

.slider aside a {
    display: inline-block;
    width: 8px;
    height: 8px;
    min-width: 8px;
    min-height: 8px;
    background-color: var(--white);
    margin: 0 0.2rem;
    transition: transform .3s;
}

.slider em{
    background: var(--primary);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

a.current_dot {
    transform: scale(1.4);
    background:var(--primary) !important;
}
/* 
@media screen and (max-width: 920px) {
    header{
        height:70vh;
        position:relative;
    }
    
    .cs-down{
        display:none;
    }

    .slider{
        height:70vh;
    }
    
    .slider article{
        width:100%;
        margin-top:2rem;
    }
    
    .slider li:nth-child(2){
        background-position:top center;
    }
    
    .slider li:nth-child(3){
        background-position:top center;
    }
    
    li.current:before{
        top:-30px;
        right:-10px;
    }
} */



/* START ABOUT SECTION */



.aboutus {background-image: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37); padding: 70px 0 70px 0; height: 700px; background-size: cover; }

.bookmyshow {padding: 100px 0 100px 0;}
.booktext {text-align: center;}
.booktext h6 {  font-family: "Lato", Sans-serif; font-size: 45px;  font-weight: 600; text-transform: uppercase; color: #FFF;}
.quick-btn {text-align: center; width: 100%;}
.quick-btn a { width: 320px; margin-left: auto; margin-right: auto; display: block; font-size: 24px; font-weight: bold; color: #fff;     background-color: #BF2B79; font-family: "Lato", Sans-serif; font-size: 17px; font-weight: 700; text-transform: uppercase; text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); border-radius: 40px 40px 40px 40px; padding: 21px 55px 21px 55px;} 
.quick-btn a:hover {background: #F54CA5;}
.booktext p {font-size: 20px; margin: 15px 0 30px 0; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; line-height: 25px; color: #fff;}



/* Call button */

.call-buton .cc-calto-action-ripple {
	z-index: 99999;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	background: linear-gradient(25deg, #2b00e1, #a248b2, #d8817f, #ffbb37);
	width: 4rem;
	height: 4rem;
	padding: 1rem;
	border-radius: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #ffffff;
	-webkit-animation: cc-calto-action-ripple 0.6s linear infinite;
	animation: cc-calto-action-ripple 0.6s linear infinite;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none; }
	.call-buton .cc-calto-action-ripple i {
	  -webkit-transition: 0.3s ease;
	  transition: 0.3s ease;
	  font-size: 2.2rem; }
	.call-buton .cc-calto-action-ripple:hover i {
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg); }
  
  @-webkit-keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }
  
  @keyframes cc-calto-action-ripple {
	0% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 0 rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2); }
	100% {
	  -webkit-box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0);
	  box-shadow: 0 4px 10px rgba(236, 139, 0, 0.2), 0 0 0 5px rgba(236, 139, 0, 0.2), 0 0 0 10px rgba(236, 139, 0, 0.2), 0 0 0 20px rgba(236, 139, 0, 0); } }

	span.num{
		position: absolute;
    color:#000;
    left: -30%;
    bottom: -50%;
	}

/* End Call button */


/*START FOOTER SECTION */
.contact-section {background: #fff; padding: 70px 0 70px 0; }
.cont-heading {text-align: center; margin-bottom: 100px; }
.cont-heading h4 {font-size: 35px; color: #000a17; font-weight: 700; line-height: 40px; margin-bottom: 25px; }
.bot-inner {width: 60px; height: 5px; background: rgb(152, 39, 39); margin-left: auto; margin-right: auto;  }
.cont-heading p {font-size: 24px; font-family: sans-serif; color:#d86f76; line-height: 28px; margin: 50px 0 0 0;  }
.cont-profile {margin: 0;}
.cont-profile img {width: 100%;}
.box-1 {background: #292d33; padding: 30px;  width: 100%; border-radius: 10px; margin-bottom: 30px; }
.box-1 p {font-size: 17px; font-family: sans-serif;  color: #fff; text-align: center; margin: 0 0 20px 0; line-height: 24px;   } 
.box-1 h6 {font-size: 20px; font-family: sans-serif; line-height: 28px; color: #999999; margin: 0 0 12px 0;  text-align: center; margin-bottom: 12px; line-height: 28px; }
.box-1 ul {margin: 0; padding: 0; display: flex; }
.box-1 ul li {display: block;  margin-left: 19px; } 
.box-1 ul li a {display: block; }
.box-1 ul li a img {width: 50px; height: 50px;}
.location-info {text-align: center;}
.box-2 {background: #292d33; padding: 20px;  width: 100%; border-radius: 10px; margin-bottom: 30px; text-align: center; } 
.box-2 h6 {font-size: 20px; font-family: sans-serif; line-height: 28px; color: #999999; margin: 0 0 12px 0;  text-align: center; margin-top: 12px; line-height: 28px; }
.box-2 a {  font-size: 17px; font-family: sans-serif;  color: #fff; text-align: center;  line-height: 28px;   } 
.box-2 p {font-size: 17px; font-family: sans-serif;  color: #fff; text-align: center; margin: 0 0 20px 0; line-height: 24px;   } 
/*END FOOTER SECTION */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: -20px;
    right: 20px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  /* @media (min-width: 500px) {
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  } */
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }



  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon {
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.instagram:hover {
    color: #E1306C;
    transform: scale(1.2);
}
.facebook:hover {
    color: #1877F2;
    transform: scale(1.2);}
.whatsapp:hover {
    color: #25D366;
    transform: scale(1.2);}

/* START FOOTER SECTION */

.footer {background: #292d33; padding: 70px 0 70px 0; }
.ftr-heading {width: 700px; text-align: center; margin-left: auto; margin-right: auto; }
.ftr-list {margin: 40px 0 40px 0;}
.ftr-list ul {padding: 0; text-align: center; }
.ftr-list ul li {display: inline-block; margin-right: 35px; }
.ftr-list ul li a {display: block; font-size: 18px; font-family: sans-serif; line-height: 24px; color: #fff;  }
.ftr-list ul li a:hover {color: #d86f76;}

.copyright {text-align: center; font-size: 17px; margin-top: 40px; font-family: sans-serif;  color: #999999;}

  /* START FOOTER SECTION */


  /*****************************************/
   /* START ABOUT PAGE */

.about-banner {background: url(../img/deepa\ img\ 10.jpg) center top no-repeat;  background-size: cover; padding-top: 110px; padding-bottom: 220px;  }
.about-head {margin-top: 250px;}
.about-head h1 {font-size: 70px;  font-family: sans-serif; font-weight: 600; line-height: 74px; color: #fff; text-align: center;}
.about-details {margin: 0; padding: 70px 0 70px 0; }
.anchor-img img {width: 100%; -webkit-border-top-left-radius: 59px; -webkit-border-top-right-radius: 62px; -moz-border-radius-topleft: 59px; -moz-border-radius-topright: 62px; border-top-left-radius: 59px; border-top-right-radius: 62px; } 
.anchor-info {margin: 100px 0 0 0;}
.anchor-info h2 {font-size: 46px; font-family:sans-serif; line-height: 50px; color: #000; font-weight: 600;  }
.anchor-info p {font-size: 16px; font-family: sans-serif; color: #333333; margin-top: 35px; line-height: 35px; }
.book-btn {display: block; font-size: 24px; font-family: sans-serif; line-height: 28px; color: #fff; background:#BF2B79; border-radius: 35px; width: 230px; text-align: center; padding: 14px;  }
.book-btn:hover {background: #F54CA5;}
.insight-galler {padding: 30px 0 70px 0;}
.insight-head {margin: 0;}
.insight-head h4 {font-size: 36px; font-weight: 600; font-family: sans-serif; line-height: 40px; color: #000; text-align: center; margin: 30px 0 50px 0; }

.gallery {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gallery img {
    width: 13%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all ease-out 0.5s;
    cursor: pointer;
    overflow: hidden;
  }
  
  .gallery img:hover {
    width: 50%;
  }

  /* START GALLERY SECTION */


.our-favourite {padding: 70px 0 70px 0;}
.gla-bg {margin: 40px 0 0 0; position: relative; text-align: center;}

.gla-text {font-size: 30px; font-family: sans-serif; line-height: 34px; color: #fff; text-align: center; position: absolute; bottom: 12px; right: 0; left: 0; }

  /* END  GALLERY SECTION */

  
  